@media (max-width: 750px){
/*Grid-________*/

.col-s-1{
    width:8.3333333333%;
    padding:12px;
}
.col-s-2{
    width:16.6666666666%;
    padding:12px;
}
.col-s-3{
    width:24.9999999999%;
    padding:12px;
}
.col-s-4{
    width:33.3333333332%;
    padding:12px;
}
.col-s-5{
    width:41.6666666665%;
    padding:12px;
}
.col-s-6{
    width:49.9999999998%;
    padding:12px;
}
.col-s-7{
    width:58.3333333331%;
    padding:12px;
}
.col-s-8{
    width:66.6666666664%;
    padding:12px;
}
.col-s-9{
    width:74.9999999997%;
    padding:12px;
}
.col-s-10{
    width:83.333333333%;
    padding:12px;
}
.col-s-11{
    width:91.6666666663%;
    padding:12px;
}
.col-s-12{
    width:100%;
    padding:12px;
}

/*Inicio nav*/

.nav_options{
padding-left:2px;

}

nav li{
width:100px;
padding-right:2px;

}


/*Imagen principal*/
.imagenprincipal h1{
    padding:24px;
    font-size:50px;
}

.resumen p{
    font-size:16px;
}

/*Fin Imagen principal*/

/*INICIO SECCION INFORMATIVA-________*/


.boxintroduccion{
    height:auto;
    flex-direction: column;

}
.cardintroduccion{
    width:auto;
}

.boxresumen1{
    height:auto;

}
/*.row{
    display: inherit;
}*/

/*[class*="col-"]{
    width:90%;

}*/
.row{
    flex-wrap: wrap;
}



.skillimage img{
display: none;
}

.skilltexto{
    width:600px;
    margin-right: 8px;
}


}