/*
CARDS

Aqui pueden ver todos los estilos de todos los cards creados
en el proyecto

*/

/*Inicio Card Experiencia*/


.cardexperiencia{
    display: flex;
    padding:16px;
    height:96px;
    background: white;
    border: 1px solid #f2f2f2;
   /* box-shadow: var(--purple-shadow);*/
    /* box-shadow: var(--main-shadow); */
    border-radius: 8px;
}

.cardexperiencia h2{
  color:var(--black-color);

}
.cardexperiencia h3{
    color:var(--black-color);
  
  }

.cardexperiencia h4{
    padding-top:8px;
    
}


.cardexperiencia img{
padding: 24px 0px 0px 0px;
}

.cardexperiencia span{
padding:16px 0px 0px 16px;
    
}
/*Fin Card Experiencia*/


/*Inicio Card Certificaciones*/

.cardcertificaciones{
    width: 100%;
    height:248px;
    padding:8px;
    background: white;
    border-top: 0.5px solid var(--gray2-color);
}

.cardcertificaciones h4{
    padding: 8px;
    color:var(--black-color-color);
    
    }
/*Fin Card Certificaciones*/

/*Inicio Card Skills*/

.cardskills{
    background: white;
    border-radius: 8px;
    height:384px;
    padding:16px;
}

.cardskills h3{
    color:var(--black-color-color);
    font-size: 1.5rem;
    margin-bottom: 4px;

}

.barraskill{
    padding-top:16px;
    display: flex;
}
.barra{
    height:64px;
    width:80%;

    position:relative;
}


.barrafondo{
    margin-top:4px;
    background-color:#ECE7E7;
    width:100%;
    height:40px;
    border-radius:8px;
    position: absolute;
 

}
.barracolor{
    margin-top:4px;
    background:var(--celeste-color);
    width:0%;
    height:40px;
    border-radius: 8px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    position: absolute;
}
.porcentaje{
    height: 50px;
    padding-left:8px;
    padding-top: 14px;
    line-height: 50px;
}
.porcentaje h4{
    color: var(--black-color);
}

/*Fin Card Skills*/

/*Inicio Card Portafolio*/


.cardportafolio a{
    max-width:100%;
    display:block;
    padding: 8px;
}
.cardportafolio{
    width:100%;
    position:relative;
}

/* .cardportafolio figure{
    width:100%;
    
} */

.portafolio-overlay {
    /* background: rgb(255, 255,255,.9); */
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 8px;
    color:var(--black-color);
    }
.portafolio-overlay p{
    color:var(--gray);
    margin-top:8px;
    width:100%;
    text-align: left;
}  

.portafolio-overlay span{
  
    color:var(--gray2-color);
    margin-top: 8px;
    text-align: left;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
} 

.cardportafolio a:hover{
text-decoration: underline;

}

/*Inicio Card Portafolio*/

/*Inicio Card Icon*/
.card_icon{
    padding:16px;
    background: white;
    border-radius:8px;
    box-shadow: var(--half-shadow);
    display: flex;
    flex-direction: column;
    align-items: center;
    }
    
    .card_icon h4{
        padding-top:8px;
    }
    .card_icon p{
        padding-top:8px;
    }
.card_icon img{
    padding-bottom: 8px;
    
    }

/*Fin Card Icon*/    


/*Inicio Card_intro*/    

.card_intro{
background: white;
border-radius:8px;
box-shadow: var(--half-shadow);
padding:8px; 
}


.card_intro h4{
    color:var(--principal-color);
    padding-top:8px;
    }

.card_intro p{
    line-height:20px;
    padding-top:16px;
    }

/*Fin Card_Intro*/    

/*Inicio Card_intro2*/
.card_intro2{
background: white;
border-radius:8px;
box-shadow: var(--purple-shadow);
padding:8px; 
text-align: center;

}    

.card_intro2 h1{
    padding-top:8px;
    }

.card_intro2 p{
    line-height:20px;
    padding-top:16px;
    }


/*Fin Card_Intro2*/   


/*Inicio Card-Portafolios*/   


.cardscreen1{
    margin:auto;
    padding:16px;    
    background:var(--body-color);
    border-radius: 16px;
    height:auto;
    display:flex;
    }
    
    .screen1_img{
       text-align: center;
    }
    
    .screen1_txt h2{
        padding-top:16px;
    }
    
    
    .screen1_txt p{
        line-height: 25px;
        padding-top:32px;
    }
    
    .cardscreen2{
        text-align: center;
        padding:8px;   
        border-radius: 16px;
        background:var(--body-color);
    }
    

    .cardscreen2 img{
        max-width: 100%;

    }
    .cardscreen2 h2{
    width:400px;
    padding-top:16px;
    }
    .cardscreen2 p{
        line-height: 25px;
        padding-top:16px;
      }
      
    .cardscreen3{
        display: flex;
        padding:8px;    
        border-radius: 16px;
        background:var(--body-color);
    } 
    
    .cardscreen3 .izquierda{
        width: 250px;
    }

    .cardtablet1{
        background: white;
        display: flex;
        justify-content: space-between;
        border-radius:16px;
        box-shadow: var(--purple-shadow);
        padding:16px;
        
    }

    .cardtablet1-txt p {
        line-height: 24px;
        padding-top:16px;
        padding-right:16px;
        color:var(--gray2-color);
    }
    .cardtablet1-img img{

        max-width: 100%;
    }

    .cardtablet2{
        background:white;
        text-align: center;
        border-radius: 16px;
        box-shadow: var(--purple-shadow);
        padding:16px;
    }

    .cardtablet2 h3{

        padding-top:8px;
    }

    .cardtablet2 p{
        line-height:24px;
        padding-top:16px;
        color:var(--gray2-color);
    }
/*Fin Card-Portafolios*/   