/*Estilos Proyectos*/




/*Inicio  header*/

#header_mobitrack{
    background:url(../../images/headers/hero_mobitrack.jpg) no-repeat center;
    background-size: cover;
    height:424px;
    align-items: center;
}



.text_header{
    text-align: center;
    color:white;
}


.text_header span{
    color:var(--black-color);
    
}

.client-section{
    border-bottom: 1px solid var(--gray2-color);
    border-top: 1px solid var(--gray2-color);
    border-style: dotted;
}


/*Fin  header*/

/*Inicio  introduction*/


.container_introduction{
padding:8px;
display:grid;
grid-template-columns: repeat(4,1fr);
grid-template-areas: 
                    'resumen resumen resumen resumen'
                    'titulo titulo titulo titulo'
                    'card1  card2 card3 card4';
                    
grid-gap: 24px;
}


.resumen1{
    grid-area: resumen;
}

.resumen1 .resumen_subtitle h3{
    font-weight: 800;
    font-size: 1.6rem;
    line-height: normal;
}

.resumen1 p{
font-family: 'Avenir Next';
font-style: normal;
font-weight: 200;
font-size: 1.0rem;
line-height: 150.26%;
}

.resumen_subtitle h4{
    font-weight: 800;
    font-size: 1.4;
}
.titulos2{
    color: var(--black-color-color);

}

.titulo{
    grid-area:titulo;

}

.card1{
    grid-area:card1;
}
.card2{
    grid-area:card2;
}
.card3{
    grid-area:card3;
}
.card4{
    grid-area:card4;
}

/*Fin introduction*/

/*hero*/
.imagenprincipal img{
width: 100%;
height: auto;
}
/*hero*/
/*Inicio Section Challengue*/

.container_resumen{
    padding:8px;
}

/* .boxwhite{
    background:white;
} */

.resumen3 h2{
    padding-top:8px;
}
.resumen3  h4{
    line-height:25px;
    padding-top:16px;
}






.container_user{
padding:8px;
display:grid;
grid-template-columns: repeat(2,1fr);
grid-template-areas: 
                    'resumen resumen'
                    'texto1 texto1'
                    'texto2 texto2';
                    
grid-gap: 16px;

}

.user_image{
    width: 80%;
}


.user_image img{
    width:100%;

}

.texto1{
grid-area:texto1;
display: flex;
flex-direction: row;
justify-content: space-between;
}


.texto2{
grid-area:texto1;
display: flex;
flex-direction: row;
justify-content: space-between;
}

.imagen1{
    grid-area:imagen1;
}

.imagen2{
    grid-area:imagen2;
}

.user_text{
    width: 85%;
}
.user_text p{
padding-top:16px;
line-height: 25px;

}
.user_text h3{
padding-top:16px;
}

.user_resumen{
    line-height: 1.5;
    text-align: left;
    grid-area:resumen;
}
/*Fin Section Challengue*/


/*tabs*/

.tabs{
    display: flex;
    margin: 20px 0;
    border-bottom:1px solid var(--gray2-color);
    }
    
    .tab{
            border: 0px;
            border-bottom:5px solid var(--gray2-color);
            background-color:white;
            outline: none;
            font-size: 18px;
            margin-left: 24px;
            color: var(--gray2-color);
     }
    

      .tab.active {
        color: var(--principal-color);
        border-bottom:5px solid var(--principal-color);
      }
    
      .tab-content {
        padding: 20px;
        background-color: white;
        display: none;
    
      }

      .tab-content.activo{
        display: flex;

      }
    
    /*end tabs*/

/*Inicio Section Research*/

.container_cards{
    padding:8px;
    margin-top:16px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap:24px;
}


    
/*Fin Section Research*/

/*Inicio Section Solution*/


.boxheader_img{
    margin-top:16px;

}    
.boxheader_img img{
    width: 100%;
    height: auto;
    background-position:center;
    background-size: cover;
}

.container_screen{
    padding:8px;
    display:grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-areas: 
                        'screen1 screen1'
                        'screen2 screen2'
                        'screen3 screen3';
                        
    grid-gap: 16px;
}    

.screen1{
    grid-area:screen1;
}
.screen2{
    grid-area:screen2;
}
.screen3{
    grid-area:screen3;
}
/* .screen4{
    grid-area:screen4;
}
.screen5{
    grid-area:screen5;
} */

/*Fin Section Solution*/




/*Start carousel*/
.container-carousel{
    grid-area: screen2;
    overflow: scroll;

}

.carousel{
    display: flex;
    flex-direction: row;
    gap: 16px;
    width: 100%;

}

/* .slide{
    width: 500px;
    height:500px;
} */

.container-buttons{
    display: flex;
    gap: 32px;
}
.buttons {
  background-color: var(--principal-color);
  color: #fff;
  padding: 10px 20px;
  border-radius: 8px;
  text-align: right;
  border: none;
}

.buttons:hover{
    background-color:var(--second-color);
}

/*Ehd Carousel*/