/*Estilos Trabajos*/

/*Section Resumen*/

#resumen_proyectos{
        background: white;
        display: grid;
        grid-template-columns: minmax(320px,1152px);
        height:auto;
        justify-content: center;
}

.container_proyectos{
    padding:8px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-areas: 
                        'titulo titulo titulo'
                        'resumen resumen resumen'
                        'card1  card2 card3';
                        
    grid-gap: 24px;
}

.titulos2 {
    grid-area: titulo;

}

.resumen1{
height:auto;   
text-align: left;
grid-area:resumen;


}

.card1{
height:auto;    
grid-area:card1;


}

.card2{
height:auto;        
grid-area:card2;
/*box-shadow: var(--purple-shadow);*/
}

.card3{
height:auto;        
grid-area:card3;
/*box-shadow: var(--purple-shadow);*/

}

/* Fin Section Resumen*/

/*Section Trabajo*/

#trabajos{
    display: grid;
    grid-template-columns: minmax(320px,1152px);
    height:auto;
    justify-content: center;
    background: white;

}


.container_trabajos{
    margin-top: 24px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 32px;
    }

/*Inicio imagenes  Trabajo*/

.banca{ 
    height:320px;
    background-image: url(../../images/trabajos/portafolio/banca.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    box-sizing: border-box;
    border-radius: 24px;
    }

.boxmis{ 
    height:320px;
    background-image: url(../../images/trabajos/portafolio/boxmis.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    box-sizing: border-box;
    border-radius: 24px;
    } 
.agora{ 
    height:320px;
    background-image: url(../../images/trabajos/portafolio/designsystem.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    box-sizing: border-box;
    border-radius: 24px;
    }
.alicorp{ 
    height:320px;
    background-image: url(../../images/trabajos/portafolio/nicosoft.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    box-sizing: border-box;
    border-radius: 24px;
    } 
      
    .hogar{ 
        height:320px;
        background-image: url(../../images/trabajos/portafolio/apphogar.jpg);
        background-repeat: no-repeat;
        background-size:cover;
        box-sizing: border-box;
        border-radius: 24px;
        }
        
    .mobitrack{ 
        height:320px;
        background-image: url(../../images/trabajos/portafolio/mobitrack.jpg);
        background-repeat: no-repeat;
        background-size:cover;
        box-sizing: border-box;
        border-radius: 24px;
        } 
    .mobirep{ 
        height:320px;
        background-image: url(../../images/trabajos/portafolio/mobirep.jpg);
        background-repeat: no-repeat;
        background-size:cover;
        box-sizing: border-box;
        border-radius: 24px;
        }  
    .express{ 
        height:320px;
        background-image: url(../../images/trabajos/portafolio/express.jpg);
        background-repeat: no-repeat;
        background-size:cover;
        box-sizing: border-box;
        border-radius: 24px;
        }  
        
    .entel{ 
        height:320px;
        background-image: url(../../images/trabajos/portafolio/entel10k.jpg);
        background-repeat: no-repeat;
        background-size:cover;
        box-sizing: border-box;
        border-radius: 24px;
        } 
      .spotiteva{ 
        height:320px;
        background-image: url(../../images/trabajos/portafolio/spotiteva.jpg);
        background-repeat: no-repeat;
        background-size:cover;
        box-sizing: border-box;
        border-radius: 24px;
        } 
      .mibanco{ 
        height:320px;
        background-image: url(../../images/trabajos/portafolio/mibanco.jpg);
        background-repeat: no-repeat;
        background-size:cover;
        box-sizing: border-box;
        border-radius: 24px;
        }
        .analytics{ 
        height:320px;
        background-image: url(../../images/trabajos/portafolio/analytics.jpg);
        background-repeat: no-repeat;
        background-size:cover;
        box-sizing: border-box;
        border-radius: 24px;
        }            
        
/* Fin imagenes Trabajo*/


/* .filtro_trabajos{
text-align: left;   
height:56px;
line-height: 56px;

} */

/* .level-1{
text-align: left;

}

.level-2{
    text-align: left;
    }
    
 .level-3{

    text-align: left;
 }    */


/*Section Trabajo*/